p {
   height: 1px;
}

html {
    background-color:black;
}

.container{
    background: ;
}

body {
    background-color: black !important;
}

footer {
    text-align: center;
    font-size: 11px;
    background-color: black;
    color:grey;
    z-index: 10;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.panel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 94%; */
    height: 57px;
    z-index: 10;
    background-color: black
}

#logo {
    position: absolute;
    top:0;
    left: 0;
    width: ;
    height: ;
    z-index: 10;
    border: 5px black solid;
    border-radius: 5px;
}

#liked {
    position: absolute;
    top: 20px;
    left: 220px;
    width: ;
    height: ;
    z-index: 10;
/*    border: 5px black solid;*/
    border-radius: 5px;
}

#mylikes {
    position: absolute;
    top: 15px;
    right: 195px;

    width: ;
    height: ;
    z-index: 10;
/*    border: 5px black solid;*/
    border-radius: 5px;
    color: white;
}

#finger {
    position: absolute;
    top: 16px;
    right: 100px;
    width: ;
    height: ;
    z-index: 10;
    /*border: 1px black solid;*/
    /*border-radius: 7px;*/

}

#palets {
    width: 42px;
    height: 32px;
    border: 2px black solid;
    border-radius: 7px;
}

#tr_hamburger {
    position: absolute;
    right: 7px;
    top: 7px;
    border: 3px black solid;
    border-radius: 10px;
    z-index: 10;/* 10 */
}

#tr_krestik {
    position: absolute;
    right: 50px;/* 0 */
    top: 0;
    border: 3px black solid;
    border-radius: 10px;
    z-index: 10 /* 10 */
}

#nechet {
    background-color: #000;
    display: block;
}

#chet {
    background-color: #ccc;
    display: none;

}


.video {
    position:relative;
    padding-bottom: 70%;/*пропорции видео 16:9 */
    padding-top: ;
    height:0;
}

.video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}







